<mat-toolbar color="Primary" class="nav sticky">

  <div class="nav-container">
    <div class="icon-section">
      <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="home" fontIcon="home">home</mat-icon>
      <small>Home</small>
    </div>
    <div class="icon-section">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shield_moon">shield_moon</mat-icon>
      <small>Sleep</small>
    </div>
    <div class="icon-section">
      <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="meditation/all"
        fontIcon="Self_improvement">self_improvement</mat-icon>
        <small>Meditation</small>
    </div>
    <div class="icon-section">
      <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="relax/all" fontIcon="spa">spa
      </mat-icon>
      <small>Relax</small>
      <!-- <img src="https://static.thenounproject.com/png/1744917-200.png" width="20px" height="20px" alt=""> -->
    </div>
    <div class="icon-section">
      <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="" fontIcon="person">person
      </mat-icon>
      <small>Profile</small>
    </div>


  </div>

</mat-toolbar>