<div class="wrapper">
    <div class="container">
        <div class="image-section">
            <img src="assets/Image/starter.jpg" alt="Relax starter img" width="100%" height="400">
        </div>
        <header>
            <h1>Breathings</h1>
            <h4>Mindful Breathing app</h4>
        </header>

        <div class="button-section">
            <button class="sign-btn" routerLink="/user/signup">SIGN UP</button>
            <h5>Already have an account? <a href="" routerLink="/user/login">LOG IN</a></h5>
        </div>
    </div>
</div>