<app-melodies-nav></app-melodies-nav>
<div class="wrapper">
    <div class="container">
        <div *ngFor="let track of MelodiesData">
            <div class="circle" (click)="playTrack(track)" appActiveTrack>
                {{track.title}}
                <audio #audioOption src="{{track?.audio}}">
                </audio>
            </div>
        </div>
    </div>
    <div class="btn-section">
        <mat-accordion mat-raised-button class="btn">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Mixer
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngIf="audioControls.length > 0">
                    <!-- Sliders -->
                    <div class="slider-item" *ngFor="let audioControl of audioControls; index as i">
                        <div>
                            {{audioControl.label}} {{audioControl.volume}}
                        </div>
                        <mat-slider
                            min="0"
                            max="1"
                            step="0.01"
                            [(ngModel)]="audioControl.volume"
                            (input)="updateVolume(audioControl.audio, $event)">
                        </mat-slider>
                    </div>
                    <!-- Stop Button -->
                    <div class="stop-all-button">
                        <button mat-raised-button color="warn" (click)="stopAll()">Stop All</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
