
.wrapper{
    position: relative;
    /* position: absolute; */
    /* top: 40px; */
    box-shadow: 0px -4px 3px rgb(0 0 0 / 10%);
    background-color: #f1f3f5;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.container{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    padding-top: 5%;
    flex-wrap: wrap;
    gap: 20px;
}
.circle{
    /* border: 1px solid orange; */
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* box-shadow: 0px -4px 3px rgb(0 0 0 / 10%); */
    /* box-shadow: inset 0 0 0 3px #ffe8cc; */
}
.circle:hover{
    /* box-shadow: 0 0 0 5px rgba(#fff,.4) , 0 0 0 10px  #f05f75; */
}


.btn-section{
    width: 100%;
    align-self: flex-end;
}

/* acordian */
.mat-accordion .mat-expansion-panel:last-of-type{
    width: 100%;
    border-radius: 50px 50px 0 0;
    box-shadow: 0px -4px 3px rgb(0 0 0 / 10%);
}
mat-panel-title{
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}
.mat-expansion-panel-header-title {
    justify-content: center !important;
}

.slider-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*input slider */
.mat-slider-horizontal{
    min-width: 70% !important;
}

::ng-deep .mat-accent .mat-slider-thumb {
    background-color: #fd7e14;
} 
::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: #fd7e14;
} 
::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: #fd7e14;
} 
